@font-face {
    font-family: LapsusPro;
    src: url("../resources/LapsusPro-Bold.otf") format("opentype");
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: LapsusPro, sans-serif;
    height: 100vh;
}

